Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  bugprone-use-after-move,
  performance-move-const-arg
WarningsAsErrors: '*'
HeaderFilterRegex: '^core/compiler/'
FormatStyle: file
